<div "user-show">
  <h3>Hi! <%=@user.username%> Here are the surveys that you have completed:</h3>
  <p> Click for stats </p>
    <% @user_taken_surveys.each do |survey| %>
    <ol>
      <li><a href="/taken_survey/:<%=taken_survey.id%>/answers"><%= survey.name %>  </a></li>
    <!-- need to figure out appropriate logic to get survey name -->
    </ol>
    <% end %>
  <h3>Hi! <%=@user.username%> Here are the surveys you created:</h3>
  <p> Click for stats </p>
  <% @user_created_surveys.each do |survey| %>
    <ol>
      <li><a href="/taken_survey/<%=taken_survey.id%>/answers"><%= survey.name %></a></li>
    </ol>
</div>
